@using ActionCommandGame.BlazorApp.Providers
@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider AuthenticationStateProvider
@inject ITokenStore TokenStore

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>