@inject IGameApi _gameApi
@inject ILocalStorageService _storageService
@inject IJSRuntime _jsRuntime

<style>
    .card-item {
        background: rgba(0, 0, 0, 0.7);
    }
</style>

<div class="card align-items-center card-item flex-row flex-sm-column flex-md-row p-3 m-2">
    <div class="card-body">
        <h5 class="mt-0 fw-bold mb-2 text-white">@Item.Name</h5>
        <p class="fst-italic text-muted mb-0 small text-white">@Item.Description</p>
        <div class="d-flex flex-row">
            <div>
                <audio id="player">
                    <source id="playerSource" src="" />
                </audio>
                <button @onclick="() => Buy(Item.Id)" class="btn btn-outline-light rounded-pill text-white">BUY</button>
            </div>
            <div class="ms-3">
                <h6 class="fw-bold my-2 text-white"> Price: <span class="primary-color">@Item.Price</span></h6>
            </div>
        </div>
    </div>
    <img class="shop-img" src="@Item.ImageUrl" alt="Generic placeholder image">
</div>

@code {
    [Parameter]
    public ItemResult Item { get; set; }

    private int playerId;

    protected override async Task OnInitializedAsync()
    {
        playerId = await _storageService.GetItemAsync<int>("PlayerId");

        await base.OnInitializedAsync();
    }

    public async Task Buy(int itemId)
    {
        var result = await _gameApi.BuyAsync(playerId, itemId);

        if (result.IsSuccess)
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "success",
                $"You bought {result.Data.Item.Name} for ${result.Data.Item.Price}, " +
                $" You have ${result.Data.Player.Money} left");
            await _jsRuntime.InvokeVoidAsync("PlayAudioFile", "/ricksounds/mega-seeds-are-super-valuable.mp3");
        }
        else
        {
            await _jsRuntime.InvokeVoidAsync("ShowSwal", "error",
                "You don't have enough money! Go and find new valuable items! Or buy something less expensive");
            await _jsRuntime.InvokeVoidAsync("PlayAudioFile", "/ricksounds/no-cant-do-morty-i-just-cant.mp3");
        }

        StateHasChanged();
    }
}
